@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

:root {
  --text-color: #ffffff; /* White for primary text */
  --secondary-text-color: #b2bec3; /* Slate Gray for secondary text */
  --background-color: #1e272e; /* Charcoal Blue for background */
  --accent-color: #16a085; /* Medium Sea Green for primary accents */
  --secondary-accent-color: #0abde3; /* Vivid Sky Blue for vibrant accents */
  --tertiary-accent-color: #2f3542; /* Dark Slate Blue for headers */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Playfair Display', serif;
  --link-color: #0abde3; /* Uniform link color across the site */
}

body {
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2 {
  font-family: var(--font-heading);
  color: var(--tertiary-accent-color);
}

.title {
  font-size: 2.5rem;
  color: var(--accent-color); /* Use primary accent color for titles */
}

.date {
  font-size: 1.2rem;
  color: var(--secondary-accent-color); /* Use secondary accent color for dates */
}

.details {
  background-color: #2f3542; /* Tertiary accent color for detail boxes */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.event p {
  color: var(--secondary-text-color); /* Secondary text color for less emphasis */
}

a { /* Global style for all links */
  color: var(--link-color); /* Use the --link-color variable for easy management */
  text-decoration: none; /* Optional: Removes underline from links */
}

a:hover {
  text-decoration: underline; /* Optional: Adds underline on hover for better user interaction */
}

@media (min-width: 600px) {
  .main {
    padding: 2rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .date {
    font-size: 1.2rem;
  }

  .details {
    max-width: 600px; /* Fixed width on larger screens */
  }

  .event h2 {
    font-size: 1.5rem;
  }
}
