.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
  max-width: 600px; /* Ensuring main content width matches */
  margin: auto; /* Centering the main content */
}

.header {
  /* text-align: center; */
  margin-bottom: 1rem;
  max-width: 600px; /* Ensuring header width matches the main content */
  margin-left: auto; /* Centering the header horizontally */
  margin-right: auto; /* Centering the header horizontally */
}

.title {
  font-size: 2.5rem;
  margin: 1rem auto;
  max-width: 600px;
  background: linear-gradient(-70deg, var(--accent-color) 0%, #64acff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.date {
  font-size: 1rem;
  color: var(--light-accent-color);
}

.details {
  width: 100%;
  max-width: 90%; /* Adjust maximum width for better reading on mobile */
  margin: auto; /* Center align the details section */
  padding: 20px; /* Add padding for better spacing */
  background-color: #222831; /* Dark background for details section */
  color: #fff; /* Light text color for readability */
  border-radius: 8px; /* Aesthetic rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

@media (min-width: 600px) {
  .details {
    max-width: 600px; /* Limit width on larger screens */
  }
}

.event h2 {
  font-size: 1.3rem;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

.event p {
  font-size: 1rem;
  color: var(--text-color);
}



.imageGridContainer {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  height: 515px;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "first second third"
    "fourth second sixth"
    "fourth fifth sixth";
  gap: 10px;
  width: 100%;
  height: 100%;
}

.first { grid-area: first; }
.second { grid-area: second; }
.third { grid-area: third; }
.fourth { grid-area: fourth; }
.fifth { grid-area: fifth; }
.sixth { grid-area: sixth; }

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageWrapper.tall {
  grid-row: span 2; /* Make this item span two rows */
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link {
  color: #0abde3;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: #16a085;
}